header {
    padding: 20px;
    background-color: turquoise;
    display: block;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}